.UsersListItem {
  position: relative;
  display: flex;
  align-items: center;
  padding: 6px 10px;
  border-radius: 5px;
  &_selected {
    background-color: #1890ff;
  }
  &:hover:not(&_selected) {
    background-color: #efefef;
    cursor: pointer;
  }
  &__avatar {

  }
  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }
  &__name {
    font-weight: 600;
  }
  &__meta {
    color: gray;
  }
  &__unread {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);

    background: #1890ff;
    font-size: 14px;
    line-height: 14px;
    min-width: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
}
